@font-face {
    font-family: 'Futura Std';
    src: url('FuturaStd-Medium.woff2') format('woff2'),
        url('FuturaStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

